:root {
  --BorderColor: #52528C;
  --BackgroundColor: #231123;
  --BackgroundColor2: #000000;
  --TextColor: #7C9EB2;
  --AccentColor: #372554;

  color: var(--TextColor);
  background-image: radial-gradient(var(--BackgroundColor), var(--BackgroundColor2));
  border-color: #372554;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.master {
  width:100%;
  flex-direction: column;
}

.row {
  align-content: left;
  display:flex;
  flex-direction: row;
}

.col {
  align-content: left;
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  border-width: 2px;
  border-style: double;
  padding: .5rem;
  display:flex;
  height:fit-content;
  justify-content:space-evenly;
}

div {
  padding:.5rem;
  display:flex;
  margin: .2rem;
  border: var(--BorderColor) .3rem double;
}
p {
  padding: .2rem;
  margin: .2rem; 
  text-align: left;
}